{% extends 'todolist/base.html' %}

{% block content %}
    <h1>{{ item.title }}</h1>
    <p>{{ item.description }}</p>
    <ul>
        <li>
            <p>Current status: {{ item.status }}</p>
        </li>
        <li>
            <p>Change status:</p>
            <form action="{% url 'change_status_view' item.id %}" method="post">
                {% csrf_token %}
                <select name="status">
                    {% for item in item.status_choices %}
                    <option value="{{item.0}}">{{item.1}}</option> <!--status_choices = [("A", "Active"), ("D", "Done"), ("C", "Canceled")]-->
                    {% endfor %}
                </select>
                <input type="submit" value="Update">
            </form>
        </li>
        <li>
            <p>Due: {{ item.due_date }}</p>
        </li>
    </ul>
    <p><a href="{% url 'list_view' %}">Back to list overview</a></p>
{% endblock %}
