{% extends 'todolist/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Create a new task</h2>

            <form action="{% url 'new_item_view' %}" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    <label>Title</label>
                    <input class="form-control" type="text" name="title" required>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" name="description"></textarea>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select class="form-control" name="status" required>
                        {% for item in status_choices %}
                        <option value="{{item.0}}">{{item.1}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <select class="form-control" name="category">
                        {% for item in categories %}
                        <option value="{{item.id}}">{{item}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Complete task until:</label>
                    <input class="form-control" type="date" name="due_date" required>
                    <!--<input type="time" name="due_time" required>--> <!--doesn't work when clicked-->
                    <!--<input type="datetime-local" name="due_date" required> # datetime-local shows blank input-->
                    <br>
                    <input class="form-control" type="submit" value="Create" style="color: white; background-color: #F71E50;">
                </div>
            </form>
        </div><!--col-->
        <div class="col">
            {% if item_list %}
            <h2>Active tasks</h2>
            {% for item in item_list %}
                {% if item.status == "A" %}
                <div class="row">
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                            <h3 class="card-title">{{ item.title }}</h3>
                            <p class="card-text">{{ item.description }}</p>
                            <a href="{% url 'list_item_view' item.id %}">Details</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            {% else %}
            <p>This list is empty.</p>
            {% endif %}
        </div><!--col-->
    </div><!--row-->

    <div class="row">
        <div class="col">
            {% if item_list %}
            <h2>Completed tasks</h2>
            {% for item in item_list %}
                {% if item.status == "D" %}
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h3 class="card-title">{{ item.title }}</h3>
                        <p class="card-text">{{ item.description }}</p>
                        <a href="{% url 'list_item_view' item.id %}">Details</a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            {% else %}
            <p>This list is empty.</p>
            {% endif %}
        </div><!--col-->
        <div class="col">
            {% if item_list %}
            <h2>Canceled tasks</h2>
            {% for item in item_list %}
                {% if item.status == "C" %}
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h3 class="card-title">{{ item.title }}</h3>
                        <p class="card-text">{{ item.description }}</p>
                        <a href="{% url 'list_item_view' item.id %}">Details</a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            {% else %}
            <p>This list is empty.</p>
            {% endif %}
        </div><!--col-->
    </div><!--row-->
</div><!--container-->

{% endblock %}
