<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<h1>My list</h1>-->
<!--<h2>{{ title }}</h2>-->
<!--<p>{{ description }}</p>-->

<h1>My list</h1>
{% if item_list %}
    <ol>
    {% for item in item_list %}
        <li><h2><a href="{% url 'list_item_view' item.id %}">{{ item.title }}</a></h2></li>
        <li><p>{{ item.description }}</p></li>
    {% endfor %}
    </ol>
{% else %}
        <p>This list is empty.</p>
{% endif %}
</body>
</html>
