<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #F71E50;">
    <a class="navbar-brand" href="{% url 'list_view' %}">List o'todos</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="">Nav bar</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="">goes</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="">here</a>
        </li>
    </ul>

</nav>

